---
# Security role handlers

- name: Restart SSH
  ansible.builtin.systemd:
    name: sshd
    state: restarted

- name: Restart fail2ban
  ansible.builtin.systemd:
    name: fail2ban
    state: restarted
